$WIDTH: 85%;
$HEIGHT: 175px;
$HEADER_HEIGHT: 50px;

$FRAMES_HEIGHT: ($HEIGHT - ($HEADER_HEIGHT*2));

$BG: #F2F2F2;
$BORDER: #0D47A1;
$FRAME_ACTIVE_BG: #AED581;
$FRAME_BORDER: 1px solid opacify(#000, 0.75);
$NAME_BG: #25354B;
$SHADOW: 0px 5px 15px 0 rgba(#000, 0.25);

$ICON_SPIN_ANIMATION: spinIcon 2.5s linear forwards;

.wrapper {
  height: 100%;
}

.refresh {
  cursor: pointer;
  position: relative;
  top: 2px;
  text-align: right;

  &.spin .glyphicon {
    animation: spinIcon 1s linear forwards;
  }
}

.scoreboard {
  width: $WIDTH;
  height: $HEIGHT;
  margin: 10% auto 0;
  background: $BG;
  border: 2px solid $BORDER;
  border-radius: 5px;
  box-shadow: $SHADOW;
  overflow: hidden;

  .header {
    height: $HEADER_HEIGHT;
    color: white;
    line-height: $HEADER_HEIGHT - 5px;
    padding-left: 15px;
    background: $BORDER;
    font-family: "Bungee", sans-serif;
  }

  .sub-header {
    height: $HEADER_HEIGHT;
    line-height: $HEADER_HEIGHT;
    color: lighten(#000, 15%);
    font-family: "Bungee", sans-serif;
    background: lighten($BORDER, 50%);
    border-bottom: dotted 1px opacify(#000, 0.15);

    & > div {
      text-align: center;
      border-left: dotted 1px opacify(#000, 0.15);
    }
  }

  .frames {
    height: $FRAMES_HEIGHT;
    height: $FRAMES_HEIGHT;
    line-height: $FRAMES_HEIGHT + 1px;
    font-weight: bold;

    .name {
      color: white;
      background: $NAME_BG;
    }

    .frame {
      position: relative;
      padding: 0;
      height: $FRAMES_HEIGHT + 1px;
      line-height: $HEADER_HEIGHT/2;
      border-left: $FRAME_BORDER;

      &.active {
        background-color: $FRAME_ACTIVE_BG !important;
      }

      .first-roll {
        padding-left: 15px;
      }

      .second-roll, .third-roll {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 45%;
        text-align: center;
        border-left: $FRAME_BORDER;
        border-bottom: $FRAME_BORDER;
      }

      .score {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        text-align: center;
      }

      &:nth-child(odd) {
        background: rgba(yellow, 0.1);
      }

      &:last-child {
        .second-roll {
          right: 30%;
        }

        .second-roll, .third-roll {
          width: 30%;
        }
      }
    }
  }
}

@keyframes spinIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
